:root {
  --basic-black: #000000;
  --basic-extra-dark: #333333;
  --basic-dark: #766357;
  --basic-dark-hover: #604E43;
  --basic-dark-active: #503E33;
  --basic-light-dark: #F2F2F2;
  --basic-neutral: #81B3D2;
  --basic-neutral-hover: #669EC0;
  --basic-neutral-active: #5496BD;
  --basic-light-active: #BDBBBC;
  --basic-extra-light: #EEEEEE;
  --basic-white: #ffffff;
}

body {
  min-width: 1200px;
  margin: 0 auto;
  padding: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-black);
  text-transform: uppercase;
  font-style: normal;
  background-color: var(--basic-light-dark);
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  padding-left: 0;
  margin: 0;
}

p {
  padding: 0;
  margin: 0;
}

fieldset {
  border: 0;
}

.visually-hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}


.main-header {
  height: 56px;
}

button {
  background: var(--basic-neutral);
  border: var(--basic-neutral);
  color: var(--basic-white);
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
}

button:hover {
  background-color: var(--basic-neutral-hover);
}

button:active {
  background-color: var(--basic-neutral-active);
  outline: none;
}

button:active * {
  opacity: 0.3;
}

.button {
  background: var(--basic-neutral);
  border: var(--basic-neutral);
  color: var(--basic-white);
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
}

.page-body {
  width: 1200px;
  background: var(--basic-white);
  box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
}

/* Site navigation */
.main-navigation {
  font-weight: bold;
  position: relative;
  height: inherit;
}

.site-navigation {
  list-style: none;
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  height: inherit;
}

.main-header-logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  text-align: center;
  width: 138px;
  height: 70px;
}

.main-header-logo-img {
  width: 138px;
  height: 70px;
}

.site-navigation a {
  color: var(--basic-black);
  text-decoration: none;
}

.site-navigation a:hover {
  color: var(--basic-neutral);
}

.site-navigation a:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.site-navigation-current a {
  color: var(--basic-dark);
}

/* Welcome part */
.welcome-card {
  position: relative;
  height: 509px;
  background-image: url("/img/index_background_photo.jpg");
}

.welcome-card:after {
  content: "";
  display: block;
  width: 100%;
  height: 57px;
  background: url("/img/welcome-figure.svg");
  position: absolute;
  left: 0;
  bottom: -1px;
  background-position: bottom center;
}

.welcome-description {
  margin: 77px 371px 0px;
  position: absolute;
}

.welcome-background-image {
  z-index: -1;
  position: absolute;
}

.welcome-text {
  font-weight: bold;
  font-size: 21px;
  align-items: center;
  text-align: center;
  margin: 42px 0px 55px;
}

/* Features */
.features {
  font-weight: normal;
  text-align: center;
  margin-bottom: 51px;
}

.feature-item {
  height: 256px;
  display: flex;
}

.feature-box {
  background-color: var(--basic-neutral);
  width: 400px;
  height: 100%;
  color: var(--basic-white);
}

.feature-item-name {
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
  padding: 47px 139px 0px;
  margin: 0;
  text-align: center;
}

.feature-item-number {
  font-weight: normal;
  line-height: 21px;
  padding: 25px 174px 0px;
  text-align: center;
  margin: 0;
}

.feature-item-text {
  font-weight: normal;
  line-height: 21px;
  text-align: center;
  padding: 23px 51px 54px;
  padding-left: 51px;
  padding-right: 51px;
}

.feature-illustration {
  width: 800px;
  height: 256px;
}

.feature-recommend {
  height: 330px;
  display: flex;
  justify-content: space-around;
}

.feature-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.feature-recommend-item-name {
  padding-top: 160px;
}

.feature-icon-home {
  background-image: url("/img/icon-house.svg");
  background-repeat: no-repeat;
  background-position: center 20%;
}

.feature-icon-food {
  background-image: url("/img/icon-food.svg");
  background-repeat: no-repeat;
  background-position: center 20%;
}

.feature-icon-gifts {
  background-image: url("/img/icon-gift.svg");
  background-repeat: no-repeat;
  background-position: center 20%;
}

.feature-icon img {
  object-fit: contain;
}

.feature-box-inverted {
  background-color: var(--basic-extra-light);
  color: var(--basic-black);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.next-features {
  display: flex;
  margin: 0;
  background-color: var(--basic-extra-light);
}

/* Appointment */
.appointment-question {
  font-weight: bold;
  font-size: 30px;
  line-height: 24px;
  text-align: center;
  padding-top: 58px;
  margin: 0;
}

.appointment-info {
  font-weight: normal;
  line-height: 24px;
  text-align: center;
  padding-top: 35px;
  padding-bottom: 44px;
}

.modal-appointment {
  margin: 0 auto;
  position: relative;
  width: 568px;
}

.modal-button {
  width: 568px;
  height: 86px;
  background: var(--basic-dark);
  border: var(--basic-neutral);
  color: var(--basic-white);
  font-weight: bold;
  font-size: 21px;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.modal-button:hover {
  background-color: var(--basic-dark-hover);
}

.modal-button:active {
  background-color: var(--basic-dark-active);
}

.modal-button:active * {
  opacity: 0.3;
}

.modal-appointment-form {
  width: 568px;
  position: absolute;
  background-color: var(--basic-white);
  box-sizing: border-box;
}

.modal-appointment-form-parametrs {
  padding: 60px 55px;
}

.modal-appointment-item {
  font-weight: bold;
  position: relative;
  align-items: center;
  padding-bottom: 41px;
}

.modal-appointment-item-date {
  background-color: var(--basic-light-dark);
  color: var(--basic-black);
  font-weight: bold;
  padding: 6px 210px 6px 12px;
  border: none;
}

.modal-submit-button {
  padding: 16px 180px;
display: block;
margin: 0 auto 55px auto;
}

/* Footer */
.main-footer {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  padding: 36px 0;
}

.footer-contacts {
  font-weight: bold;
  font-size: 21px;
  text-align: center;
}

.footer-contacts p {
  margin: 0;
}

.footer-phone {
  color: #000000;
  text-decoration: none;
}

.footer-hashtag {
  padding-bottom: 9px;
}

.social-button-list {
  display: flex;
}

.social-button-list>li {
  background-color: var(--basic-neutral);
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-right: 6px;
}

.social-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 48px;
}

.social-button-twitter {
  background-image: url(/img/twitter.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.social-button-facebook {
  background-image: url(/img/facebook.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.social-button-youtube {
  background-image: url(/img/youtube.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.social-button:hover {
  background-color: var(--basic-neutral-hover);
}

.social-button:focus {
  background-color: var(--basic-neutral-active);
  opacity: 0.3;
}

.footer-copyright-website {
  margin-right: 8px;
}

.footer-copyright {
  display: flex;
  align-items: center;
}

.footer-logo-html-academy {
  width: 115px;
  height: 41px;
}

.footer-logo-html-academy:hover {
  fill: var(--basic-neutral-hover);
}

.footer-logo-html-academy:active {
  fill: var(--basic-light-active);
}

/* Catalog */
.filter {
  background-image: url("../img/filter_background.jpg");
  width: 100%;
  height: 217px;
  background-size: cover;
}

.filter-form {
  display: grid;
  padding: 26px 73px 32px;
  grid-template-columns: 255px 479px auto;
}

.filter-header {
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
  color: var(--basic-white);
}

.filter-parameter {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: var(--basic-white);
  padding-top: 25px;
}

.filter-price {
  width: 49%;
  display: inline-block;
  box-sizing: border-box;
}

.wrapper {
  padding: 30px 0;
}

.range {
  position: relative;
  width: 100%;
}

.range__bar {
  height: 2px;
  background-color: rgba(255, 255, 255, 0.3);
}

.range__bar-inner {
  width: 80%;
  height: 100%;
  background-color: var(--basic-white);
  position: absolute;
  top: 0;
  left: 0;
}

.range__button {
  position: absolute;
  top: 50%;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin-top: -10px;
  height: 20px;
  width: 20px;
  border: none;
  border-radius: 50%;
  background-color: #ffffff;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  transition: all 0.25s ease;
}

.range__button:after {
  content: "";
  width: 4px;
  height: 4px;
  display: block;
  background-color: #ababab;
  border-radius: 50%;
}

.range__button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.range__button--right {
  left: 80%;
}

.filter-button {
  padding: 7px 35px;
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 2px;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: transparent;
  display: block;
  margin: 0 auto;
}

.filter-button:hover {
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.search {
  padding: 0 73px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  width: inherit;

}

.search-sorting {
  display: grid;
  grid-template-columns: 135px 780px auto;
}

.search-sorting-results {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  color: var(--basic-black);
  padding-top: 29px;
  margin-top: 0;
}

.sorting-types-block {
  display: flex;
  padding-top: 31px;
  margin-top: 0;
}

.sorting-types-header {
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-black);
  margin: 0;
}

.sorting-types {
  width: auto;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-black);
  mix-blend-mode: normal;
  opacity: 0.3;
  background-color: transparent;
  height: 18px;
  text-decoration: underline;
  text-decoration-style: dashed;
  text-decoration-color: var(--basic-neutral);
}

.sorting-types-selected {
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-neutral);
  text-decoration: none;
  opacity: 1;
}

.sorting-direction-wrapper {
  display: flex;
  justify-content: flex-end;
}

.sorting-direction-button {
  width: auto;
  height: auto;
  background-color: transparent;
  padding: 0;
}

.sorting-direction {
  width: 11px;
  height: 10px;
  fill: var(--basic-neutral);
  padding-left: 6px;
}

.sorting-direction-inverted {
  transform: rotate(180deg);
  fill: #cacaca;
}

.searching-results {
  display: grid;
  width: inherit;
}

.searching-results-hotel {
  display: grid;
  grid-template-columns: 135px 720px 150px;
  grid-gap: 29px;
  width: inherit;
  margin: 0;
  padding: 0;
}

.searching-results-hotel-image {
  padding: 30px 0;
}

.searching-results-hotel-info {
  padding-top: 23px;
  padding-bottom: 30px;
}

.hotel-name {
  font-weight: bold;
  font-size: 21px;
  text-transform: uppercase;
  color: var(--basic-black);
  display: grid;
  padding-bottom: 7px;
  margin: 0;
}

.searching-results-hotel-rating {
  display: grid;
  text-align: right;
  justify-content: right;
}

.about-hotel-rating {
  width: 110px;
  height: 25px;
  background-color: var(--basic-light-dark);
  font-size: 14px;
  line-height: 21px;
  color: #666666;
  text-align: center;
  vertical-align: middle;
}

.searching-results-hotel-name {
  display: grid;
}

.about-hotel {
  display: inline;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: var(--basic-extra-dark);
}

.button-searching {
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: var(--basic-white);
  padding: 0 19px;
  text-decoration: none;
}

.button-searching-booking {
  background-color: var(--basic-dark);
}
